{% extends 'base.html' %} 
{% block title %} Login {% endblock %} 

{% block content %} 

{% with errors = get_flashed_messages(category_filter=["error"]) %}
   {% if errors %}
        {% set printed_messages = dict() %}
        {% for message in errors %}
            {% if message not in printed_messages %}
                <h3 class="text-danger">{{ message }}</h3>
                {% set x = printed_messages.__setitem__(message, "value")  %}
                {% endif %}   
        {% endfor %}
   {% endif %}
{% endwith %}

<form id="user-add-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit">Submit</button>
  </form>

  <h4>Don't have an account yet? Register <a href="/register">here</a></h4>

{% endblock %}