{% extends 'base.html' %} 
{% block title %} User Details {% endblock %} 

{% block content %} 
{% with errors = get_flashed_messages(category_filter=["error"]) %}
   {% if errors %}
        {% for message in errors %}
         <h3 class="text-danger">{{ message }}</h3>
      {% endfor %}
   {% endif %}
{% endwith %}

<ul>
    <li>Username: {{user.username}}</li>
    <li>First Name {{user.first_name}}</li>
    <li>Last Name {{user.last_name}}</li>
</ul>

<a href="/users/{{user.username}}/delete">Delete user</a>

{% endblock %}